@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<RadzenTemplateForm TItem="User" Data="@user" Submit="@((User args) => { Submit(args);})">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Введите логин</RadzenText>
        <RadzenTextBox @bind-Value = "user.name" Change=@(args => OnChange(args, "TextBox")) Style="width: 100%" aria-label="Введите логин" />
    </RadzenCard>
    <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="Войти" />
</RadzenTemplateForm>

@code {
    string valueText;
    User user = new();

    void OnChange(string value, string name)
    {
        valueText = value;
    }

    void Submit(User user)
    {
        Console.WriteLine("Login submitted " + user.name);
    }

    public class User
    {
        public string name;
    }
}